[
  {rabbit,
    [
        {default_vhost,<<"/">>},
        {default_user,<<"admin">>},
        {default_pass,<<"root">>},
        {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
        {default_user_tags, [administrator]}
    ]
  },
  {rabbitmq_management,
    [{listener, [{port, 15672}]},
        {http_log_dir, "/var/log/rabbitmq/management_http.log"}]
  }
].